@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spotlight animation */
@keyframes spotlight {
  0% { transform: scale(1) translate(-50%, -50%); opacity: 0.7; }
  50% { transform: scale(1.1) translate(-50%, -50%); opacity: 1; }
  100% { transform: scale(1) translate(-50%, -50%); opacity: 0.7; }
}
.animate-spotlight {
  animation: spotlight 8s ease-in-out infinite;
}
